<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> Đồ án WEB </title>
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
    <script src="./JS/controller.js"></script>
</head>

<body ng-app="Background" ng-controller="BackgroundCtrl">
    <div id="header" class="global-header responsive-header nav-v5-2-header responsive-1 remote-nav" role="banner">
        <div id="top-header">
            <div class="wrapper">
                <div class="header-section first-child">
                    <h2 class="logo-container" tabindex="0">
                        <a href="https://www.linkedin.com/?trk=nav_logo" target="_self" class="logo" id="in-logo">LinkedIn</a>
                    </h2>
                </div>
                <div class="header-section last-child">
                    <div id="account-nav" class="menubar-lix" role="navigation" aria-label="Account Navigation">
                        <ul class="nav utilities nav-bar">
                            <li class="nav-item activity-tab" data-li-activity-type="messages" data-li-new-count="0">
                                <a href="" class="activity-toggle inbox-alert nav-link messaging">  
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="full-stretch-header">
        <div id="topcard-background">
            <div id="premium-image-container">
                <div id="premium-image" style="top: 0px; min-width: 974px; background-image: url(https://media.licdn.com/media/p/7/005/066/160/199ad4f.jpg); background-size: auto; background-position: 50% 0px;">
                </div>
            </div>
        </div>
    </div>
    
    <div id="wrapper" class="  guided-edit-promo-profile premium-profile">
        <div id="top-card" data-li-template="top_card">
            <div class="profile-top-card top-card  follow influencer-enabled">
                <div class="profile-card vcard" >
                    
                        <img src={{background.Avatar}} ng-show="!edit.changeavatar.status" ng-dblclick="hidetextbox(edit.changeavatar)" width="240" height="240" alt="Nguyễn Anh Huy">
                        <input type="text" ng-model="background.Avatar" ng-dblclick="hidetextbox(edit.changeavatar)" ng-show="edit.changeavatar.status">
                    
                    <div class="profile-overview">
                        <div class="profile-overview-content">
                            <div id="member-22330283" class="masthead">
                                <div class="account-icons">
                                    <span class="fp-degree-icon"></span>
                                    <div id="badge-container" data-li-template="badge">
                                        <div id="badge" class="editable-item"><a title="Jeff is a LinkedIn Influencer" href="https://www.linkedin.com/today/influencers?trk=inf_bdg_profile" class="influencericon">Influencer</a>
                                        </div>
                                    </div>
                                </div>
                                <div data-li-template="p2_basic_info">
                                    <div id="name-container" data-li-template="name">
                                        <div id="name" class="editable-item" ng-dblclick="hidetextbox(edit.statusfullname)">
                                            <h1 ng-show="(!edit.statusfullname.status)" class="fn ng-binding ng-hide" ng-bind="background.Name"></h1>
                                            <input ng-show="edit.statusfullname.status" ng-model="background.Name" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                        </div>
                                    </div>
                                    <div id="headline-container" data-li-template="headline" ng-dblclick="hidetextbox(edit.statuswork_company)">
                                        <div id="headline" class="editable-item">
                                            <p class="title" dir="ltr" ng-bind="background.Work" ng-show="!edit.statuswork_company.status"></p>
                                            <input ng-model="background.Work" ng-show="edit.statuswork_company.status">
                                            <p class="title" dir="ltr">at</p> 
                                            <p class="title" dir="ltr" ng-bind="background.Company" ng-show="!edit.statuswork_company.status"></p>
                                            <input ng-model="background.Company" ng-show="edit.statuswork_company.status">
                                        </div>
                                    </div>
                                    <div class="demographic-info adr editable-item" id="demographics">
                                        <div id="location-container" data-li-template="location">
                                            <div id="location" class="editable-item">
                                                <dl>
                                                    <dd>
                                                        <span class="locality"><a href="/vsearch/p?f_G=us%3A84&amp;trk=prof-0-ovw-location" name="location" title="Find other members in San Francisco Bay Area">Hồ Chí Minh City</a></span>
                                                        
                                                    </dd>
                                                    
                                                    <dd class="industry"><a href="/vsearch/p?f_I=6&amp;trk=prof-0-ovw-industry" name="industry" title="Find other members in this industry">Internet</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <table summary="Overview for Jeff Weiner">
                                <tbody>
                                    <tr id="overview-summary-current" ng-dblclick="hidetextbox(edit.statuscurrent)">
                                        <th scope="row">
                                            <span class="edit-tools">
                                                <a href="#background-experience" class="edit-section" id="control_gen_4"></a>
                                            </span>
                                            <a href="#background-experience" data-trk="prof-0-ovw-curr_pos">Current</a>
                                        </th>
                                        <td ng-show="!edit.statuscurrent.status" ng-bind="background.Current"  class="ng-binding ng-hide">
                                        </td>
                                        <td>
                                            <input ng-model="background.Current" ng-show="edit.statuscurrent.status" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                        </td>
                                    </tr>
                                    <tr id="overview-summary-past" ng-dblclick="hidetextbox(edit.statusprevious)">
                                        <th scope="row">
                                            <span class="edit-tools">
                                                <a href="#background-experience" class="edit-section" id="control_gen_5"></a>
                                            </span>
                                            <a href="#background-experience" data-trk="prof-0-ovw-prev_pos-label">Previous</a>
                                        </th>
                                        <td ng-show="!edit.statusprevious.status" ng-bind="background.Previous" >
                                            
                                        </td>
                                        <td>
                                            <input ng-model="background.Previous" ng-show="edit.statusprevious.status" class="ng-pristine ng-valid ng-not-empty ng-touched">
                                        </td>
                                    </tr>
                                    <tr id="overview-summary-education" ng-repeat="edu in background.Education" ng-dblclick="hidetextbox(edit.stateeducation)">
                                        <th scope="row">
                                            <span class="edit-tools">
                                                <a href="#background-education" class="edit-section" id="control_gen_7"></a>
                                            </span>
                                            <a href="#background-education" data-trk="prof-0-ovw-edu-label">Education</a>
                                        </th>
                                        <td ng-show="!edit.stateeducation.status" ng-bind="edu.School">
                                        
                                        </td>
                                        <td>
                                            <input ng-model="edu.School" ng-show="edit.stateeducation.status">
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        
                        <div class="profile-aux">
                            <div class="member-connections follower-count"><strong>4,040,029</strong>followers</div>
                            <!--<div class="profile-actions view-actions outside-dropdown">
                                <div class="katy-button-group button-group-primary">
                                    <span class="people-follow inactive" id="control_gen_10">
                                        <a class="button-primary is-not-following" data-action-name="follow" id="control_gen_9">Follow</a>
                                    </span>
                                    <div class="follow-supplemental-action">
                                        <p class="action-description">Know Huy?<a name="inviteLink" class="connect"><br>Connect</a></p>
                                    </div>
                                    <div id="secondary-actions-dropdown" class="katy-button-menu">
                                        <button class="more-options dropdown-caret" tabindex="0" role="button" aria-expanded="false"><span class="caret">More options</span></button>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    
                                   
                </div>
                
                <div class="profile-card-extras">
                    <div class="profile-actions " role="tablist">
                        <ul>
                            <li>
                                <dl class="public-profile">
                                    <dt>Public Profile</dt>
                                    <dd>
                                        <a href="https://www.linkedin.com/in/jeffweiner08" class="view-public-profile">https://www.linkedin.com/in/jeffweiner08</a>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                        <div class="show-more-info">
                            <a href="#" id="contact-info-tab" role="tab" aria-controls="contact-info-section" aria-selected="false">
                                <span class="contact">Contact Info</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Profile-->
        <div id="profile" data-target-section class="">
            <div id="background" class="profile-background">
                <h2>Background</h2>
                <div class="background-content ">
                    
                    <!--Summary-->
                    <div id="background-summary-container" class="background-section " data-li-template="summary_section">
                        <div id="background-summary" class="background-summary edit-default">
                            <div class="summary-header">
                                <h3>
                                Summary 
                                </h3>
                            </div>
                            <div id="summary-item" class="editable-item section-item">
                                <div id="summary-item-view">
                                    <div class="summary" ng-dblclick="hidetextbox(edit.statesummary)">
                                        <p class="description" dir="ltr" ng-show="!(edit.statesummary.status)" ng-bind-html="background.Summary">
                                        </p>
                                        <textarea ng-model="background.Summary" ng-show="edit.statesummary.status" class="ng-valid ng-not-empty ng-touched ng-dirty ng-valid-parse"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Experience -->
                    <div id="background-experience-container" class="background-section" data-li-template="experience_section">
                        <div id="background-experience" class="background-experience edit-default">
                            <h3>
                            Experience
                            </h3>
                        
                            <div id="experience-58506340" class="editable-item section-item current-position">
                                <div id="experience-58506340-view" ng-repeat="bg in background.Experience">
                                    <header ng-dblclick="hidetextbox(edit.stateexperience_company)">
                                        <h5 class="experience-logo" aria-hidden="true">
                                            <a href=""><span><strong><img class="lazy-load" src={{bg.Logo}} alt=""></strong></span></a>
                                        </h5>
                                        <h4><a title="Learn more about this title"></a></h4>
                                        <h5><span data-tracking="mcp_profile_sum"><strong><a dir="auto" ng-bind="bg.Company" ng-show="!edit.stateexperience_company.status"></a></strong></span></h5>
                                        <input ng-model="bg.Company" ng-show="edit.stateexperience_company.status">
                                    </header>
                                    <div ng-dblclick="hidetextbox(edit.stateexperience_local)">
                                        <span class="experience-date-locale" ng-show="!edit.stateexperience_local.status" ng-bind="bg.Time">
                                        <span class="locality" ng-show="!edit.stateexperience_local.status" ng-bind="bg.Local"></span>
                                        </span>
                                        <input ng-show="edit.stateexperience_local.status" ng-model="bg.Time">
                                        <input ng-show="edit.stateexperience_local.status" ng-model="bg.Local">
                                        
                                    </div>
                                    <div ng-dblclick="hidetextbox(edit.stateexperience_info)">
                                        <p class="description summary-field-show-more" dir="ltr" ng-show="!edit.stateexperience_info.status" ng-bind-html="bg.Info"></p>
                                        <textarea ng-show="edit.stateexperience_info.status" ng-model="bg.Info"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Skill-->
                    <div id="background-skills-container" class="background-section" data-li-template="skills_section">
                        <div id="background-skills" class="background-skills edit-default">
                            <div class="hd">
                                <h3>Skills</h3>
                            </div>
                            <div id="skills-item" class="editable-item">
                                <div id="skills-item-view">
                                    <div id="profile-skills">
                                        <h5>Top Skills</h5>
                                        <ul class="skills-section" ng-repeat="sk in background.Skill" ng-dblclick="hidetextbox(edit.statusskill)">
                                            <li data-endorsed-item-name="Business Strategy" class="endorse-item has-endorsements" data-endorsement-id >
                                                <span class="skill-pill">
                                                    <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers">
                                                        <span class="num-endorsements" data-count="242">99+</span></a>
                                                    <span class="endorse-item-name">
                                                        <a href="" title="Learn more about this skill" class="endorse-item-name-text" class="endorse-item-name" ng-bind="sk.NameSkill" ng-show="!edit.statusskill.status"></a>
                                                    </span>
                                                    <input ng-model="sk.NameSkill" ng-show="edit.statusskill.status">
                                                </span>
                                            </li>
                                            
                                        </ul>
                                        <h5>Huy also knows about...</h5>
                                        <ul class="skills-section compact-view">
                                            <li data-endorsed-item-name="Social Media" class="endorse-item has-endorsements " data-endorsement-id>
                                                <div>
                                                    <span class="skill-pill">
                                                        <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers"><span class="num-endorsements" data-count="65">65</span></a>
                                                        <span class="endorse-item-name">
                                                            <a href="https://www.linkedin.com/topic/social-media?trk=mprofile_topic" title="Learn more about this skill" class="endorse-item-name-text">Social Media</a>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li data-endorsed-item-name="User Experience" class="endorse-item has-endorsements " data-endorsement-id="">
                                                <div>
                                                    <span class="skill-pill">
                                                        <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers"><span class="num-endorsements" data-count="49">49</span></a>
                                                        <span class="endorse-item-name">
                                                            <a href="https://www.linkedin.com/topic/user-experience?trk=mprofile_topic" title="Learn more about this skill" class="endorse-item-name-text">User Experience</a>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li data-endorsed-item-name="Corporate Development" class="endorse-item has-endorsements " data-endorsement-id="">
                                                <div>
                                                    <span class="skill-pill">
                                                        <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers"><span class="num-endorsements" data-count="35">35</span></a>
                                                        <span class="endorse-item-name"><a href="https://www.linkedin.com/topic/corporate-development?trk=mprofile_topic" title="Learn more about this skill" class="endorse-item-name-text">Corporate Development</a>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li data-endorsed-item-name="Non-profits" class="endorse-item has-endorsements " data-endorsement-id="">
                                                <div>
                                                    <span class="skill-pill">
                                                        <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers"><span class="num-endorsements" data-count="31">31</span></a><span class="endorse-item-name"><a href="https://www.linkedin.com/topic/non-profits?trk=mprofile_topic" title="Learn more about this skill" class="endorse-item-name-text">Non-profits</a>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li data-endorsed-item-name="Analytics" class="endorse-item has-endorsements " data-endorsement-id="">
                                                <div>
                                                    <span class="skill-pill">
                                                        <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers"><span class="num-endorsements" data-count="28">28</span></a>
                                                        <span class="endorse-item-name"><a href="https://www.linkedin.com/topic/analytics?trk=mprofile_topic" title="Learn more about this skill" class="endorse-item-name-text">Analytics</a></span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li data-endorsed-item-name="Mergers &amp; Acquisitions" class="endorse-item has-endorsements " data-endorsement-id="">
                                                <div>
                                                    <span class="skill-pill">
                                                    <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers"><span class="num-endorsements" data-count="28">28</span></a>
                                                    <span class="endorse-item-name"><a href="https://www.linkedin.com/topic/mergers-%26-acquisitions?trk=mprofile_topic" title="Learn more about this skill" class="endorse-item-name-text">Mergers &amp; Acquisitions</a></span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li data-endorsed-item-name="Team Leadership" class="endorse-item has-endorsements " data-endorsement-id="">
                                                <div>
                                                    <span class="skill-pill">
                                                        <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers">
                                                            <span class="num-endorsements" data-count="13">13</span>
                                                        </a>
                                                        <span class="endorse-item-name">
                                                            <a href="https://www.linkedin.com/topic/team-leadership?trk=mprofile_topic" title="Learn more about this skill" class="endorse-item-name-text">Team Leadership</a>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li data-endorsed-item-name="Thought Leadership" class="endorse-item has-endorsements " data-endorsement-id="">
                                                <div>
                                                    <span class="skill-pill">
                                                        <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers">
                                                            <span class="num-endorsements" data-count="12">12</span>
                                                        </a>
                                                        <span class="endorse-item-name">
                                                            <a href="https://www.linkedin.com/topic/thought-leadership?trk=mprofile_topic" title="Learn more about this skill" class="endorse-item-name-text">Thought Leadership</a>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Education-->
                    <div id="background-education-container" class="background-section"  data-li-template="education_section">
                        <div id="background-education" class="background-education edit-default last">
                            <h3>Education</h3>
                            <div id="education-18832484" class="editable-item section-item">
                                <div id="education-18832484-view" ng-repeat="Edu in background.Education">
                                    <div class="education first"  ng-dblclick="hidetextbox(edit.stateeducation)">
                                        <a href="" title="More details for this school">
                                            <h5 class="education-logo" aria-hidden="true">
                                                <span><strong><img class="lazy-load" src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAdXAAAAJGE4NGMyZTNlLWVjNmQtNDZhMi1iMTllLTY3ZmIzZGE0NGU4Ng.png" width="60" height="60"></strong></span>
                                            </h5>
                                        </a>
                                        <header>
                                            
                                                <h4 class="summary fn org" dir="auto">
                                                <a href="" title="More details for this school" ng-bind="Edu.School" ng-show="!edit.stateeducation.status"></a>
                                                </h4>
                                                <input ng-model="Edu.School" ng-show="edit.stateeducation.status">
                                    
                                            
                                            <h5>
                                                <span class="degree" ng-bind="Edu.Degree" ng-show="!edit.stateeducation.status"></span>
                                                <input ng-model="Edu.Degree" ng-show="edit.stateeducation.status">
                                                <span class="major"><a href="" title="Explore this field of study" ng-show="!edit.stateeducation.status" ng-bind="Edu.Major"></a></span>
                                                <input ng-model="Edu.Major" ng-show="edit.stateeducation.status">
                                            </h5>
                                        </header>
                                        <span class="education-date"><time ng-bind="Edu.Time1" ng-show="!edit.stateeducation.status"></time><time ng-bind="Edu.Time2" ng-show="!edit.stateeducation.status"></time></span>
                                        <input ng-model="Edu.Time1" ng-show="edit.stateeducation.status">
                                        <input ng-model="Edu.Time2" ng-show="edit.stateeducation.status">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Project-->
                    
                   <div id="background-projects-container" class="background-section" data-li-template="projects_section">
                        <div id="background-projects" class="background-projects last">
                            <h3>Projects</h3>
                            <div id="project-512897995" class="editable-item section-item" ng-repeat="pro in background.Project" ng-dblclick="hidetextbox(edit.stateproject)">
                                <div id="project-512897995-view">
                                    <hgroup>
                                        <h4 class="summary fn org"><span dir="auto" ng-bind="pro.NameProject" ng-show="!edit.stateproject.status"></span></h4>
                                        <input ng-show="edit.stateproject.status" ng-model="pro.NameProject">
                                    </hgroup>
                                    <span class="projects-date" ng-bind="pro.Time" ng-show="!edit.stateproject.status"></span>
                                    <input ng-model="pro.Time" ng-show="edit.stateproject.status">
                                    <p class="description summary-field-show-more" dir="ltr" id="control_gen_8" ng-bind="pro.Description" ng-show="!edit.stateproject.status"></p>
                                    <textarea ng-model="pro.Description" ng-show="edit.stateproject.status"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>